/* Styles for rehype-prism-plus */
/* Not used when rehype-pretty-code is used */

code[class*="language-"],
pre[class*="language-"] {
	color: #dce3ea;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*="language-"] {
	@apply mb-2 !-mt-2;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #43aaf955;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	text-shadow: none;
	background: #43aaf955;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	@apply bg-[#000000] text-[#fafafa];
}

:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #888888;
}

.token.string {
	color: #5bd1b9;
}

.token.punctuation {
	color: #fac760;
}

.token.regex {
	color: #5bd1b9;
}

.token.at-rule {
	color: #5bd1b9;
}

.token.number {
	color: #fac760;
}

.token.attr-name {
	color: #fac760;
}

.token.selector {
	color: #fac760;
}

.token.changed {
	color: #fac760;
}

.token.builtin {
	color: #b267e6;
}

.token.char {
	color: #43aaf9;
}

.token.constant {
	color: #43aaf9;
}

.token.variable {
	color: #43aaf9;
}

.token.class-name {
	color: #43aaf9;
}

.token.function {
	color: #43aaf9;
}

.token.tag {
	color: #43aaf9;
}

.token.operator {
	@apply font-bold text-[#43aaf9];
}

.token.deleted {
	color: #e61f44;
}

.token.inserted {
	color: #a6e22e;
}

.token.keyword {
	@apply text-[#dd4f7d] font-bold;
}

.token.hexcode {
	color: #9fbde0;
}

.token.property {
	color: #dd4f7d;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.language-css .token.string,
.style .token.string {
	color: #fac760;
	background: transparent;
}
